body
  background-color black
  background-image url(../img/bg.jpg)
  background-repeat no-repeat
  background-size: cover
  background-attachment: fixed
  background-position: 50% 50%

h5,p
  margin 0px

img 
  width 100%
  display block

main
  margin 40px auto
  display flex
  flex-flow: row wrap
  justify-content center

.stream
  margin 10px 0px
  transition-duration: .2s
  align-items center
  &:hover
    opacity .8
    transform scale(1.05)
  a
    display: flex
    flex-direction: column
 
  &__info
    display: flex
    flex-direction: row
    background black
    color: white
    height 60px
    overflow hidden
      
    &--logo
      img
        border-radius 20px
        margin 5px
        width 40px
        height 40px

    &--title
      margin 9px
@media (min-width 320px)
  .container
    max-width 320px

  .stream
    width 90%

@media (min-width 480px)
  .container
    max-width 480px

  .stream
    width 80%

@media (min-width 800px)
  .container
    max-width 800px

  .stream
    margin 15px
    width 40%

@media (min-width 1200px)
  .container
    max-width 1200px
  .stream
    margin 15px
    width 25%

@media (min-width 1600px)
  .container
    max-width 1400px
  .stream
    margin 15px
    width 20%